  <div class="container">
    <div class="jumbotron jumbotron_style">
      <h1>Produtos</h1>
      <h3><strong>Atelier do Chocolate </strong>Confeitaria artesanal por encomenda</h3>
    </div>

    <div class="padding-20"></div>
        <div class="row text-center">
          <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
              <img src="assets/img/img1.png" alt="bolo">
              <div class="caption">
                <h3>Wave cake</h3>
               <a class="add-to-cart" href="https://www.instagram.com/p/CTUzKwaLJYO/" target="_blank"><span>Encomendar</span></a>
              </div>
            </div>
        </div>
      <div class="col-md-3 col-sm-6 ">
        <div class="thumbnail">
          <img src="assets/img/img1.png" alt="bolo">
          <div class="caption">
            <h3>Wave cake</h3>

            <a class="add-to-cart" href="https://www.instagram.com/p/CTUzKwaLJYO/" target="_blank">Encomendar</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 ">
        <div class="thumbnail">
          <img src="assets/img/img1.png" alt="bolo">
          <div class="caption">
            <h3>Wave cake</h3>

            <a class="add-to-cart" href="https://www.instagram.com/p/CTUzKwaLJYO/" target="_blank" target="_blank">Encomendar</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 ">
        <div class="thumbnail">
          <img src="assets/img/img1.png" alt="bolo">
          <div class="caption">
            <h3>Wave cake</h3>

            <a class="add-to-cart" href="https://www.instagram.com/p/CTUzKwaLJYO/" target="_blank">Encomendar</a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="assets/img/img1.png" alt="bolo">
          <div class="caption">
            <h3>Wave cake</h3>

            <a class="add-to-cart" href="https://www.instagram.com/p/CTUzKwaLJYO/" target="_blank">Encomendar</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 ">
        <div class="thumbnail">
          <img src="assets/img/img1.png" alt="bolo">
          <div class="caption">
            <h3>Wave cake</h3>

            <a class="add-to-cart" href="https://www.instagram.com/p/CTUzKwaLJYO/" target="_blank">Encomendar</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 ">
        <div class="thumbnail">
          <img src="assets/img/img1.png" alt="bolo">
          <div class="caption">
            <h3>Wave cake</h3>

            <a class="add-to-cart" href="https://www.instagram.com/p/CTUzKwaLJYO/" target="_blank">Encomendar </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 ">
        <div class="thumbnail">
          <img src="assets/img/img1.png" alt="bolo">
          <div class="caption">
            <h3>Wave cake</h3>
            <a class="add-to-cart" href="https://www.instagram.com/p/CTUzKwaLJYO/" target="_blank">Encomendar</a>


          </div>
        </div>
      </div>
    </div>


    </div>
    <div class="padding-20"></div>

