<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Editar Cliente</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label>Nome:</label>
          <input [(ngModel)]="cliente.name" name="name" type="text" class="form-control">

          <label>Nome do Funcionário:</label>
          <input [(ngModel)]="cliente.func" name="func" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>CPF:</label>
          <input [(ngModel)]="cliente.cpf" name="cpf" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Telefone:</label>
          <input [(ngModel)]="cliente.telefone" name="telefone" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>E-mail:</label>
          <input [(ngModel)]="cliente.email" name="email" type="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Endereço:</label>
          <input [(ngModel)]="cliente.endereco" name="endereco" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Data de Nascimento:</label>
          <input [(ngModel)]="cliente.dataNascimento" name="dataNascimento" type="date" class="form-control">
        </div>
        <button (click)="Actualizar(cliente)" class="btn btn-primary">Editar</button>
      </form>
    </div>
  </div>
</div>
