<!--<mat-toolbar class="footer mat-elevation-z4">-->
<!--	  <div class="footer-col">-->
<!--      <h4>siga-nos nas redes sociais</h4>-->
<!--  	 	  <div class="social-links">-->
<!--           <a href="#"><i class="fab fa-facebook-f"></i></a>-->
<!--           <a href="#"><i class="fab fa-twitter"></i></a>-->
<!--           <a  target="_blank" href="https://www.instagram.com/atelier.chocolate/"><i class="fab fa-instagram"></i></a>-->
<!--           <a href="#"><i class="fab fa-linkedin-in"></i></a>-->
<!--  	 		</div>-->
<!--    </div>-->
<!--  </mat-toolbar>-->

